.mainprofile {
    position: relative;
    top: 300px;
    text-align: center;
    letter-spacing: 1px;
}

.mainactivity {
    position: relative;
    top: 300px;
    text-align: center;
    letter-spacing: 1px;
}

.mainmessages {
    position: relative;
    top: 300px;
    text-align: center;
    letter-spacing: 1px;
}